= simple_form_for @vehicle, :html => { :novalidate => 'novalidate', :multipart => true } do |f|
  = f.error_notification

  .inputs
    = f.input :year
    = f.input :photo, :as => :file, :label => 'Main Photo:'
    = f.input :front, :as => :file, :label => 'Front Photo:'
    = f.input :special
    = f.input :make
    = f.input :model
    = f.input :milage
    = f.input :mpg
    = f.input :price
    = f.input :description
    = f.input :stock
  .actions
    = f.button :submit
