%h1 Vehicles

%ul#cars
  - @vehicles.each do |vehicle|
    %li
      %p.sgw= image_tage("greenwheels_txt.png")
      %p.phone= @phone
      .photo
        - if 1+1 == 90
          = image_tag(vehicle.image)
        - else
          = link_to image_tag("wheel.png", :style => "margin-right: 20px; clear:both;"), vehicle
      %h2= "#{vehicle.year} #{vehicle.make}, #{vehicle.model}"
      %p.item
        = vehicle.milage
        miles
      %p.item
        = vehicle.mpg
        MPG
      %span.price
        = number_to_currency(vehicle.price, :precision => 0)
        US
