%p{:style => "margin-bottom:5px"}= @vehicle.description
%p.sgw= image_tag("greenwheels_txt.png")
%p.phone= @phone
#main_image
%h2= "#{vehicle.year} #{vehicle.make}, #{vehicle.model}"
%p.item
  = vehicle.milage
  miles
%p.item
  = vehicle.mpg
  MPG
%span.price
  = number_to_currency(vehicle.price, :precision => 0)
  US
%ul#thumbs
  %li.thumb
  %li.thumb
  %li.thumb
