#info
  %h2= "#{@vehicle.year} #{@vehicle.make}, #{@vehicle.model}"
  %p= @vehicle.milage
  %p
    %span.price= number_to_currency(@vehicle.price, :precision => 0)

#main_image
  = image_tag(@vehicle.photo_url(:thumb)) if @vehicle.photo?
%ul#thumbs
  %li.thumb
  %li.thumb
  %li.thumb

%p{:style => "clear: both; margin-top: 40px"}= @vehicle.description