#header
  #map
    = link_to image_tag("map.png"), "http://mapq.st/pFeo9L", :target => "_blank"
  #title
    = image_tag("wheel.png", :id => "wheel")
    #wheel
      %h1
        Shop
        %span.green Green
        Wheels
  #contact
    %p Tel: 858-333-2345
    %p 114 N Coast HWY 101
    %p Encinitas CA 92024
  - if admin_signed_in?
    #admin_info
      %p
        Welcome
        = current_admin.email
        |
        = link_to "Sign out", destroy_admin_session_path, :method => :delete
  #navigation
    %ul
      - if admin_signed_in?
        %li
          = link_to "Add Vehicle", new_vehicle_path
      %li
        = link_to "Inventory", inventory_path, :class => current_tab("Vehicles")
      %li
        = link_to "Special", special_path, :class => current_tab("Special")
      %li
        = link_to "Your Footprint", footprint_path, :class => current_tab("Footprint")
      %li
        = link_to "Eco Links", eco_links_path, :class => current_tab("Eco")
      %li
        = link_to "About Us", about_path,:class => current_tab("About")
